body{
	margin:0rem;
	padding:0rem;
	background-image:url(halloween.jpg);
	background-attachment: fixed;
  	background-size: cover;
  	background-repeat: no-repeat;
}
img{
	position: relative;
 	bottom: 80px;
}
h1{
	position: relative;
	top: -5rem;
	color: white;
}
h6{
	position: relative;
	bottom: 60px;
}
.qript{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(204, 135, 44,0.5);;
	height: 25rem;
	width: 20rem;
	padding: 7rem 3rem;
	border:solid 3px rgb(255, 204, 69);
	border-radius: 2rem;
}
.qrcodediv{
	position: relative;
	top: 2rem
}

input[type = "text"]{
	position: relative;
	padding: 0.30rem;
	top: -1.5rem;
	transition: border-left 0.25s ease-in-out;
}
input[type = "text"]:hover{
	border-left: rgb(255, 204, 69);
	border-right: none;
	border-top: none;
	border-bottom: rgb(255, 204, 69);
}
