body{
	margin:0rem;
	padding:0rem;
	background-color: black;
}
img{
	position: relative;
 	bottom: 50px;
}
h1{
	position: relative;
	top: -2rem;
}
h6{
	position: relative;
	bottom: 60px;
}
.qript{
	position: absolute;
	border-sizing: border-box;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #D3D3D3;
	height: 25rem;
	width: 20rem;
	padding: 7rem 3rem;
	border: 3px solid white;
	border-radius: 2rem;
}
.qrcodediv{
	position: relative;
	top: 2rem
}

input[type = "text"]{
	position: relative;
	padding: 0.30rem;
	transition: border-left 0.25s ease-in-out;
}
input[type = "text"]:hover{
	border-left: 5px solid red;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid black;
}
